In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
#import matplotlib.pyplot as plt

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Files definition
root_output_path = 'output'
comment_bow = root_output_path+"/cooc_bow_all.csv"
cooc_matrix_bow = pd.read_csv(comment_bow,index_col=0)
questionaire = root_output_path+"/Questionaires.xlsx"
questionaire_matrix = pd.read_excel(questionaire,index_col=0)

In [3]:
questionaire_matrix.head()

,เพศ,ช่วงอายุ,บุตร,จำนวนบุตร,ยี่ห้อ,เมจิ,ดัชมิลล์,โฟร์โมสต์,แดรี่โฮม,โชคชัย,...,ราคาคุ้มค่าเมื่อเทียบคุณค่าทางอาหาร,ราคาคุ้มค่าเมื่อเทียบปริมาณ,ผสมนมผง,ลูกไม่ยอมกินนม,เพิ่มความสูง,เพิ่มน้ำหนัก,ย่อยยาก ท้องอืด,พกพาง่าย,อายุเก็บรักษาสั้น,โรคกระเพาะ
ลำดับ,,,,,,,,,,,,,,,,,,,,,
A01,1,2,1,0,เมจิ,1,0,0,0,0,...,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A01,1,2,1,0,ดัชมิลล์,0,1,0,0,0,...,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A01,1,2,1,0,โฟร์โมสต์,0,0,1,0,0,...,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A01,1,2,1,0,แดรี่โฮม,0,0,0,1,0,...,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A01,1,2,1,0,โชคชัย,0,0,0,0,1,...,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Steps<br>
1. ตัดข้อมูลไม่สมบูรณ์ออก (2คน)
2. Clean missing data
3. EDA - เพศ อายุ คนมีบุตร
4. EDA - ยี่ห้อยอดนิยม
5. สร้าง Coocc-Matrix

In [4]:
brands = ['เมจิ','ดัชมิลล์','โฟร์โมสต์','แดรี่โฮม','โชคชัย','เอ็มมิลค์','ไทยเดนมาร์ค']

In [5]:
questionaire_matrix.drop('A14',axis=0,inplace=True)
questionaire_matrix.drop('A27',axis=0,inplace=True)

In [6]:
questionaire_matrix = questionaire_matrix.fillna(1)

In [7]:
df_personal = questionaire_matrix.iloc[:,0:4].reset_index()
df_personal.drop_duplicates(keep='last',inplace=True, ignore_index=True)

df_only_elements = questionaire_matrix.iloc[:,4:]

In [8]:
df_agg_sex = pd.DataFrame(df_personal.groupby('เพศ').size(),columns=['cnt']).T
df_agg_age = pd.DataFrame(df_personal.groupby('ช่วงอายุ').size(),columns=['cnt']).T
df_agg_child = pd.DataFrame(df_personal.groupby('บุตร').size(),columns=['cnt']).T
df_agg_childNum = pd.DataFrame(df_personal.groupby('จำนวนบุตร').size(),columns=['cnt']).T
df_brand_count = pd.DataFrame(df_only_elements.iloc[:,1:7].sum(),columns=['sum']).T

In [9]:
# 1 ชาย 2 หญิง
df_agg_sex

เพศ  1   2
cnt  6  26

In [10]:
# 2 = 21-30 ปี, 3 = 31-40 ปี, 4 = 41-50 ปี, 5 = 51 ปีขึ้นไป
df_agg_age

ช่วงอายุ   2   3  4  5
cnt       19  10  2  1

In [11]:
# 1 = ไม่มี, 2 = มี
df_agg_child

บุตร   1  2
cnt   23  9

In [12]:
# 0 ไม่มีุตร , 2 = 2 คน
df_agg_childNum

จำนวนบุตร   0  1  2
cnt        23  5  4

In [13]:
df_brand_count

     เมจิ  ดัชมิลล์  โฟร์โมสต์  แดรี่โฮม  โชคชัย  เอ็มมิลค์
sum    32        32         30        15      17         16

In [14]:
df_brands = df_only_elements.iloc[:,0:8]
df_brands.reset_index(inplace=True)
df_brands.set_index(['ยี่ห้อ','ลำดับ'],inplace=True)

df_elements = df_only_elements.drop(labels=brands,axis=1)

#### Normalization<br>
ดำเนินการทำ normalization อิง min-max รายยี่ห้อ

In [15]:
df_min = df_elements.groupby(['ยี่ห้อ'], as_index=True).min()
df_max = df_elements.groupby(['ยี่ห้อ'], as_index=True).max()
#df_mad = df_elements.groupby(['ยี่ห้อ'], as_index=True).mad()

In [16]:
#df_mad.head(10)

In [17]:
df_elements.reset_index(inplace=True)
df_elements.set_index(['ยี่ห้อ','ลำดับ'],inplace=True)

In [18]:
# (Original - min) / (max-min)
df_norm = (df_elements.sort_values(['ยี่ห้อ','ลำดับ'],ascending=True).groupby('ยี่ห้อ').head(50)-df_min)/(df_max-df_min)

In [19]:
df_norm.reset_index(inplace=True)
df_norm.set_index(['ยี่ห้อ','ลำดับ'],inplace=True)

In [20]:
df_only_elements = pd.concat([df_brands,df_norm], axis=1,join='inner').reset_index('ยี่ห้อ',drop=True)

In [21]:
df_only_elements

,เมจิ,ดัชมิลล์,โฟร์โมสต์,แดรี่โฮม,โชคชัย,เอ็มมิลค์,ไทยเดนมาร์ค,ทำให้สูง,อิ่มท้อง,เสริมกระดูก,...,ราคาคุ้มค่าเมื่อเทียบคุณค่าทางอาหาร,ราคาคุ้มค่าเมื่อเทียบปริมาณ,ผสมนมผง,ลูกไม่ยอมกินนม,เพิ่มความสูง,เพิ่มน้ำหนัก,ย่อยยาก ท้องอืด,พกพาง่าย,อายุเก็บรักษาสั้น,โรคกระเพาะ
ลำดับ,,,,,,,,,,,,,,,,,,,,,
A01,1,0,0,0,0,0,0,0.333333,0.333333,1.000000,...,0.666667,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
A01,0,1,0,0,0,0,0,0.666667,0.666667,1.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
A01,0,0,1,0,0,0,0,1.000000,1.000000,1.000000,...,0.666667,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
A01,0,0,0,1,0,0,0,0.333333,1.000000,1.000000,...,0.666667,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
A01,0,0,0,0,1,0,0,1.000000,1.000000,1.000000,...,1.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
A34,0,0,1,0,0,0,0,0.666667,0.333333,0.666667,...,0.000000,0.000000,0.333333,0.666667,1.000000,0.666667,0.333333,1.0,0.0,0.0
A34,0,0,0,1,0,0,0,0.000000,0.000000,0.000000,...,1.000000,0.666667,0.333333,0.666667,0.666667,1.000000,0.333333,1.0,0.0,0.0
A34,0,0,0,0,1,0,0,0.000000,0.000000,0.000000,...,1.000000,0.666667,1.000000,1.000000,1.000000,1.000000,0.333333,1.0,1.0,0.0
A34,0,0,0,0,0,1,0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0
A34,0,0,0,0,0,0,1,1.000000,1.000000,0.666667,...,0.666667,0.666667,0.000000,1.000000,1.000000,1.000000,0.333333,1.0,1.0,0.0

#### Jaccard Similarity converter

In [22]:
def jaccard_precompute(df_b, df_elem , bi, bj, ek):
    brand1 = df_elem[df_elem[df_b[bi]]>0].drop(labels=df_b,axis=1)
    brand2 = df_elem[df_elem[df_b[bj]]>0].drop(labels=df_b,axis=1)
    slice_df = pd.concat([brand1.iloc[:,ek], brand2.iloc[:,ek]], axis=1, join="inner")
    a_in_b = slice_df[(slice_df.iloc[:,0]==slice_df.iloc[:,1])].shape[0]
    a_occur = slice_df.iloc[:,0].shape[0]
    b_occur = slice_df.iloc[:,1].shape[0]
    jacc_index = a_in_b/(a_occur+b_occur-a_in_b)
    return jacc_index

In [23]:
def gen_precomputed_matrix(df_b, df_attr):
    precomputed_matrix = pd.DataFrame(index=df_b,columns=df_b).fillna(0)
    
    jacc = pd.DataFrame(columns=df_attr.drop(labels=df_b,axis=1).columns)
    jacc = jacc.append(pd.Series([],dtype='float64'), ignore_index=True).fillna(0.0)
    
    for i in range(0,len(precomputed_matrix.columns)):
        for j in range(0,len(precomputed_matrix.columns)):
            #print(i,j)
            for k in range(0,len(df_attr.drop(labels=df_b,axis=1).columns)): # 0 to 57
                try:
                    jacc.iloc[0,k] = jaccard_precompute(df_b, df_attr,i, j, k)
                except Exception:
                    jacc.iloc[0,k] = None
                    continue
            precomputed_matrix.iloc[i,j] = jacc.mean(axis=1)[0]
            #print(precomputed_matrix.iloc[i,j])
            jacc = jacc.iloc[0:0].append(pd.Series([],dtype='float64'), ignore_index=True).fillna(0.0)
    return precomputed_matrix

In [24]:
jacc_cooc_matrix = gen_precomputed_matrix(brands, df_only_elements)

In [25]:
jacc_cooc_matrix

,เมจิ,ดัชมิลล์,โฟร์โมสต์,แดรี่โฮม,โชคชัย,เอ็มมิลค์,ไทยเดนมาร์ค
เมจิ,1.000000,0.796412,0.759340,0.543381,0.654594,0.558940,0.677337
ดัชมิลล์,0.796412,1.000000,0.817816,0.559561,0.674581,0.522607,0.672229
โฟร์โมสต์,0.759340,0.817816,1.000000,0.527660,0.672578,0.529507,0.687947
แดรี่โฮม,0.543381,0.559561,0.527660,1.000000,0.734215,0.662721,0.599735
โชคชัย,0.654594,0.674581,0.672578,0.734215,1.000000,0.660812,0.766782
เอ็มมิลค์,0.558940,0.522607,0.529507,0.662721,0.660812,1.000000,0.593615
ไทยเดนมาร์ค,0.677337,0.672229,0.687947,0.599735,0.766782,0.593615,1.000000

In [26]:
jacc_cooc_matrix.to_excel(root_output_path+"/cooc_questionaire.xlsx")

In [27]:
def jaccard_precompute_nlp(df_b, df_attr , i, j, k):
    brand1 = pd.DataFrame(df_b.iloc[:,i])
    brand2 = pd.DataFrame(df_b.iloc[:,j])
    attr = pd.DataFrame(df_attr.iloc[:,k])
    slice_df = pd.concat([brand1, attr, brand2], axis=1, join="inner")
    a_in_b = slice_df[(slice_df.iloc[:,0]>0)&(slice_df.iloc[:,1]>0)&(slice_df.iloc[:,2]>0)]
    a_occur = slice_df[(slice_df.iloc[:,0]>0)&(slice_df.iloc[:,1]>0)]
    b_occur = slice_df[(slice_df.iloc[:,2]>0)&(slice_df.iloc[:,1]>0)]
    jacc_index = a_in_b.shape[0]/(a_occur.shape[0]+b_occur.shape[0]-a_in_b.shape[0])
    return jacc_index

In [28]:
# Co-occurrence
def gen_precomputed_matrix_nlp(df_b, df_attr):
    precomputed_matrix = pd.DataFrame(index=df_b.columns,columns=df_b.columns).fillna(0)
    
    jacc = pd.DataFrame(columns=df_attr.columns)
    jacc = jacc.append(pd.Series([],dtype='float64'), ignore_index=True).fillna(0.0)
    
    for i in range(0,len(precomputed_matrix.columns)):
        for j in range(0,len(precomputed_matrix.columns)):
            for k in range(0,len(df_attr.columns)): # 0 to 329
                try:
                    jacc.iloc[0,k] = jaccard_precompute_nlp(df_b, df_attr,i, j, k)
                except Exception:
                    jacc.iloc[0,k] = None
                    continue
            precomputed_matrix.iloc[i,j] = jacc.mean(axis=1)[0]
            jacc = jacc.iloc[0:0].append(pd.Series([],dtype='float64'), ignore_index=True).fillna(0.0)
    return precomputed_matrix

In [29]:
matrix_freq_brand = cooc_matrix_bow[brands]
matrix_freq_unbrand = cooc_matrix_bow.drop(labels=brands,axis=1,inplace=False)

In [30]:
precomMat_promotion = gen_precomputed_matrix_nlp(matrix_freq_brand, matrix_freq_unbrand)

In [31]:
precomMat_promotion

,เมจิ,ดัชมิลล์,โฟร์โมสต์,แดรี่โฮม,โชคชัย,เอ็มมิลค์,ไทยเดนมาร์ค
เมจิ,1.000000,0.110803,0.094467,0.019563,0.029646,0.040171,0.050040
ดัชมิลล์,0.110803,1.000000,0.124672,0.021893,0.041735,0.000455,0.111411
โฟร์โมสต์,0.094467,0.124672,1.000000,0.000000,0.035470,0.000258,0.117421
แดรี่โฮม,0.019563,0.021893,0.000000,1.000000,0.013464,0.003788,0.042660
โชคชัย,0.029646,0.041735,0.035470,0.013464,1.000000,0.000000,0.024876
เอ็มมิลค์,0.040171,0.000455,0.000258,0.003788,0.000000,1.000000,0.000048
ไทยเดนมาร์ค,0.050040,0.111411,0.117421,0.042660,0.024876,0.000048,1.000000

In [32]:
precomMat_promotion.to_excel(root_output_path+"/cooc_nlp_crossValid.xlsx")